*.vlt
*.tmp
.DS_Store
target/
*.iml
*.ipr
*.iws
my-webcms-context.xml
.gradle
.gradletasknamecache
.project
.settings
.idea
.classpath
.metadata/
dist/
atlassian-ide-plugin.xml
install/
build/
bin/
.cache
test-output/
classes/
generated/
