#title
{
    font-family:"Arial";
	text-align:center;
    font-family:"Times New Roman", Times, serif;
    text-decoration:Underline;
    font-size:28;
}
.right img
{
    float:right;
    height:150px;
    width:150px;
}
.left img
{
 	float:left;
    height:150px;
    width:150px;

}

.clear
{
    clear:both;
}
.subtitle
{
    font-family:"Arial";
	text-align:center;
    text-decoration:Italic;
    font-size:18;
    font-family:"Times New Roman", Times, serif;


} 
.footer
{
    background-image:url('/etc/designs/IntelliTraining/images/footer.jpg');
    background-size: 90%;
    bottom:0;
	width:100%;
    height:150px;

}
.footer a
{
    text-decoration:none;
}

